/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garantir que html, body e #root ocupem 100% da altura */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Estilos globais adicionais */
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547; /* Cor de texto padrão para modo claro */
  background-color: #ffffff; /* Fundo padrão para modo claro */
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ajustes para links */
a {
  font-weight: 500;
  color: #10b981; /* Cor primária */
  text-decoration: inherit;
}

a:hover {
  color: #059669; /* Tom mais escuro de verde no hover */
}

/* Estilos para botões */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #10b981; /* Cor primária */
  color: #ffffff; /* Texto do botão */
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  background-color: #059669; /* Tom mais escuro de verde no hover */
  border-color: #10b981;
}

/* Estilos para cabeçalhos */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Modo claro */
@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }

  a {
    color: #10b981;
  }

  a:hover {
    color: #059669;
  }

  button {
    background-color: #10b981;
  }

  button:hover {
    background-color: #059669;
  }
}

/* Modo escuro */
@media (prefers-color-scheme: dark) {
  body {
    color: #cbd5e0; /* Cor de texto para modo escuro */
    background-color: #1a202c; /* Fundo escuro */
  }

  a {
    color: #10b981;
  }

  a:hover {
    color: #2dd4bf; /* Tom secundário no hover em modo escuro */
  }

  button {
    background-color: #10b981;
  }

  button:hover {
    background-color: #2dd4bf;
  }
}
